.profile-card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 5px;
}
.row-one-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.user-wrapper img{
    width: 120px;
    height: 120px;
}

.user-meta-details span{
    font-size: 2rem;
    text-transform: capitalize;
}

.user-meta-details h3{
    font-size: 1rem;
    text-transform: capitalize;
}

.user-meta-details span span{
    font-weight: bold;
}

.button-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}